<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mw.education.dao.SpecialityMapper">
  <resultMap id="BaseResultMap" type="com.mw.education.domain.compose.Speciality">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="grade" jdbcType="DATE" property="grade" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="college_id" jdbcType="INTEGER" property="collegeId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <resultMap id="SpecialityAndCollegeResultMap" type="com.mw.education.domain.joined_entity.SpecialityAndCollege">
    <association property="speciality" columnPrefix="speciality_" javaType="com.mw.education.domain.compose.Speciality">
      <id column="id" property="id" jdbcType="INTEGER"/>
      <result column="name" property="name" jdbcType="VARCHAR"/>
      <result column="grade" property="grade" jdbcType="VARCHAR"/>
      <result column="code" property="code" jdbcType="VARCHAR"/>
      <result column="college_id" property="collegeId" jdbcType="INTEGER"/>
      <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </association>
    <association property="college" columnPrefix="college_" javaType="com.mw.education.domain.compose.College">
      <result column="id" property="id" jdbcType="INTEGER"/>
      <result column="name" property="name" jdbcType="VARCHAR"/>
      <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </association>
  </resultMap>

  <sql id="selectSpecialityAndCollegeColumns">
    SELECT s.id AS "speciality_id", s.name AS "speciality_name", s.grade AS "speciality_grade", s.code AS "speciality_code",
           s.college_id AS "speciality_college_id",  s.remark AS "speciality_remark",
           c.id AS "college_id", c.name AS "college_name", c.remark AS "college_remark"
    FROM speciality s
           JOIN college c ON s.college_id = c.id
  </sql>

  <select id="getAllSpecialityAndCollege" resultMap="SpecialityAndCollegeResultMap">
    <include refid="selectSpecialityAndCollegeColumns"/>
  </select>

  <select id="getSpecialityAndCollegeBySpecialityId" parameterType="java.lang.Integer" resultMap="SpecialityAndCollegeResultMap">
    <include refid="selectSpecialityAndCollegeColumns"/>
    WHERE s.id = #{id,jdbcType=INTEGER}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from speciality
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mw.education.domain.compose.Speciality">
    insert into speciality (id, name, grade, 
      code, college_id, remark
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{grade,jdbcType=DATE}, 
      #{code,jdbcType=VARCHAR}, #{collegeId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mw.education.domain.compose.Speciality">
    insert into speciality
    <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="name != null">
            name,
          </if>
          <if test="grade != null">
            grade,
          </if>
          <if test="code != null">
            code,
          </if>
          <if test="collegeId != null">
            college_id,
          </if>
          <if test="remark != null">
            remark,
          </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="name != null">
            #{name,jdbcType=VARCHAR},
          </if>
          <if test="grade != null">
            #{grade,jdbcType=DATE},
          </if>
          <if test="code != null">
            #{code,jdbcType=VARCHAR},
          </if>
          <if test="collegeId != null">
            #{collegeId,jdbcType=INTEGER},
          </if>
          <if test="remark != null">
            #{remark,jdbcType=VARCHAR},
          </if>
    </trim>
</insert>
  <update id="updateByPrimaryKey" parameterType="com.mw.education.domain.compose.Speciality">
    update speciality
    set name = #{name,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=DATE},
      code = #{code,jdbcType=VARCHAR},
      college_id = #{collegeId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mw.education.domain.compose.Speciality">
    update speciality
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=DATE},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="collegeId != null">
        college_id = #{collegeId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'false' as QUERYID,id, name, grade, code, college_id, remark
    from speciality
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, grade, code, college_id, remark
    from speciality
  </select>

  <select id="selectAllByCollegeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, grade, code, college_id, remark
    from speciality
    where college_id = #{collegeId,jdbcType=INTEGER}
  </select>
</mapper>