<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mw.education.dao.StudentCourseScoreMapper">
  <resultMap id="BaseResultMap" type="com.mw.education.domain.compose.StudentCourseScore">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="score" jdbcType="DECIMAL" property="score" />
  </resultMap>
  <resultMap id="StudentCourseScoreAndCourseResultMap" type="com.mw.education.domain.joined_entity.StudentCourseScoreAndCourse">
    <association property="studentCourseScore" columnPrefix="sutdent_classcourse_score_" javaType="com.mw.education.domain.compose.StudentCourseScore">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="student_id" property="studentId" jdbcType="INTEGER" />
      <result column="course_id" property="courseId" jdbcType="INTEGER" />
      <result column="score" property="score" jdbcType="DECIMAL" />
    </association>
    <association property="course" columnPrefix="course_" javaType="com.mw.education.domain.compose.Course">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="name" property="name" jdbcType="VARCHAR" />
      <result column="code" property="code" jdbcType="VARCHAR" />
      <result column="term_id" property="termId" jdbcType="INTEGER" />
      <result column="credit" property="credit" jdbcType="DECIMAL" />
      <result column="college_id" property="collegeId" jdbcType="INTEGER" />
    </association>
    <association property="term" columnPrefix="term_" javaType="com.mw.education.domain.compose.Term">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="name" property="name" jdbcType="VARCHAR" />
      <result column="start_date" property="startDate" jdbcType="DATE" />
      <result column="end_date" property="endDate" jdbcType="DATE" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, student_id, course_id, score
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student_course_score
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student_course_score
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.mw.education.domain.compose.StudentCourseScore" useGeneratedKeys="true">
    insert into student_course_score (student_id, course_id, score
      )
    values (#{studentId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{score,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mw.education.domain.compose.StudentCourseScore" useGeneratedKeys="true">
    insert into student_course_score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        student_id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="score != null">
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mw.education.domain.compose.StudentCourseScore">
    update student_course_score
    <set>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mw.education.domain.compose.StudentCourseScore">
    update student_course_score
    set student_id = #{studentId,jdbcType=INTEGER},
      course_id = #{courseId,jdbcType=INTEGER},
      score = #{score,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <sql id="selectAllJoinedCourseColumns">
        select 'false' as QUERYID, scs.id AS sutdent_classcourse_score_id, scs.student_id AS sutdent_classcourse_score_student_id, scs.course_id AS sutdent_classcourse_score_course_id, scs.score AS sutdent_classcourse_score_score,
        c.id AS course_id, c.name AS course_name, c.code AS course_code, c.term_id AS course_term_id, c.credit AS course_credit, c.college_id AS course_college_id,
        t.id AS term_id, t.name AS term_name, t.start_date AS term_start_date, t.end_date AS term_end_date
        from student_course_score scs
        inner join course c on scs.course_id = c.id
        inner join term t on c.term_id = t.id
  </sql>
  <select id="getAllStudentCourseScoreAndCourse" resultMap="StudentCourseScoreAndCourseResultMap">
    <include refid="selectAllJoinedCourseColumns" />
  </select>

  <select id="getStudentCourseScoreAndCourseByStudentIdAndCourseId"  resultMap="StudentCourseScoreAndCourseResultMap">
    <include refid="selectAllJoinedCourseColumns" />
    where scs.student_id = #{param1,jdbcType=INTEGER} and scs.course_id = #{param2,jdbcType=INTEGER}
  </select>

  <select id="getStudentCourseScoreAndCourseByStudentId"  resultMap="StudentCourseScoreAndCourseResultMap">
     <include refid="selectAllJoinedCourseColumns" />
    where scs.student_id = #{param1,jdbcType=INTEGER}
  </select>

  <select id="getStudentCourseScoreAndCourseByCourseId"  resultMap="StudentCourseScoreAndCourseResultMap">
    <include refid="selectAllJoinedCourseColumns" />
    where scs.course_id = #{param1,jdbcType=INTEGER}
  </select>

</mapper>