<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mw.education.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.mw.education.domain.compose.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <resultMap id="StudentWithClassResultMap" type="com.mw.education.domain.compose.compose.StudentWithClass">
    <id column="id" property="student.id" />
    <result column="name" property="student.name" />
    <result column="password" property="student.password" />
    <result column="code" property="student.code" />
    <result column="class_id" property="student.classId" />
    <result column="remark" property="student.remark" />

    <result column="class_name" property="class.name" />
    <result column="class_code" property="class.code" />
    <result column="speciality_id" property="class.specialityId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mw.education.domain.compose.Student">
    insert into student (id, name, password, 
      code, class_id, remark
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{classId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mw.education.domain.compose.Student">
    update student
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      class_id = #{classId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'false' as QUERYID,id, name, password, code, class_id, remark
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, password, code, class_id, remark
    from student
  </select>
</mapper>