<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mw.education.dao.TeacherMapper">
  <resultMap id="ExtendResultMap1" type="com.mw.education.domain.joined_entity.TeacherAndCollege">
    <id column="id" jdbcType="INTEGER" property="teacher.id" />
    <result column="name" jdbcType="VARCHAR" property="teacher.name" />
    <result column="password" jdbcType="VARCHAR" property="teacher.password" />
    <result column="code" jdbcType="VARCHAR" property="teacher.code" />
    <result column="college_id" jdbcType="INTEGER" property="teacher.collegeId" />
    <result column="remark" jdbcType="VARCHAR" property="teacher.remark" />

    <result column="college_name" jdbcType="VARCHAR" property="college.name" />
    <result column="college_remark" jdbcType="VARCHAR" property="college.remark" />
    <result column="college_id" jdbcType="INTEGER" property="college.id" />
  </resultMap>

  <resultMap id="TeacherResultMap" type="com.mw.education.domain.compose.Teacher">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="college_id" jdbcType="INTEGER" property="collegeId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>


  <select id="getTeacherAndCollegeByTeacherId" parameterType="java.lang.Integer" resultMap="ExtendResultMap1">
    select 'false' as QUERYID, teacher.id,teacher.name,teacher.password,teacher.code,teacher.remark,
           college_id as college_id,college.name as college_name,college.remark as college_remark
    from teacher left join college on teacher.college_id=college.id
    where teacher.id = #{id,jdbcType=INTEGER}
  </select>

  <select id ="getAllTeacherAndCollege" resultMap="ExtendResultMap1">
    select 'false' as QUERYID, teacher.id,teacher.name,teacher.password,teacher.code,teacher.remark,
           college_id as college_id,college.name as college_name,college.remark as college_remark
    from teacher join college on teacher.college_id=college.id
  </select>

  <select id="getTeacherAndCollegeByCollegeId" parameterType="java.lang.Integer" resultMap="ExtendResultMap1">
          select 'false' as QUERYID, teacher.id,teacher.name,teacher.password,teacher.code,teacher.remark,
                 college_id as college_id,college.name as college_name,college.remark as college_remark
          from teacher join college on teacher.college_id=college.id
          where college.id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mw.education.domain.compose.Teacher">
    insert into teacher (id, name, password,
                         code, college_id, remark
    )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
            #{code,jdbcType=VARCHAR}, #{collegeId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
           )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mw.education.domain.compose.Teacher">
    update teacher
    set name = #{name,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR},
        code = #{code,jdbcType=VARCHAR},
        college_id = #{collegeId,jdbcType=INTEGER},
        remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="TeacherResultMap">
    select 'false' as QUERYID,id, name, password, code, college_id, remark
    from teacher
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="TeacherResultMap">
    select id, name, password, code, college_id, remark
    from teacher
  </select>
</mapper>